body{
  background: linear-gradient(#af67e9, #6565e7) fixed;
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(237, 12%, 33%);
  }

h1{
    margin-top: 2em;
    margin-left: 1em;
    color: hsl(238, 29%, 16%);
}
hr{
  margin-right: 5em;

}

.box-img{
  position: absolute;
  z-index: 2;
  left:-6em;
  top:14em;

}

.main{
  background: url("images/bg-pattern-desktop.svg");
  margin: 15em auto;
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 60em;
  min-height: 30em;
  background-color: white;
  background-position: -40em;
  background-repeat: no-repeat;
  justify-content: space-around;
  border-radius: 2em;
  box-shadow: 2px 18px 37px -18px rgba(21, 43, 60, 0.31);
}

.first{
  width: 30em;
  overflow: hidden;
}

.second{
  width: 30em;
  margin-bottom: 5em;

}

.text{
  margin-top: 2em;
  margin-left: 2em;
}

.hidden-text{
  display:none;
  margin-right: 6em;
  color: hsl(240, 6%, 50%);
  font-size: 14px;
}

.woman-img{
  margin-top: 5em;
  margin-left: -5em;
}

.arrow-btn{
  background: transparent;
  border: none;
  float:right;
  margin-right: 7em;

}

.bold{
  font-weight: bold;
  color: hsl(238, 29%, 16%);
}

.revers-arrow{
  transform: rotate(180deg);
}

@media (max-width: 375px) {

  h1{
    text-align: center;
    margin-top: 0;
    margin-left: 0;
  }

  p{
    font-size: 12px;
  }

  hr{
    margin-right: 1.5em;
  }

  .main{
    flex-direction: column;
    max-width: 20em;
    background-image:none;
    margin:10em auto 5em;
    min-height: 20em;
  }

  .first{
    overflow: visible;
    width: 20em;
    min-height: 8em;
  }

  .second{
    width: 20em;
    margin-bottom: 2em;
  }

  .woman-img{
    width: 70%;
    margin-top: -6.5em;
    margin-left: 3em;
    filter: drop-shadow( 0px 25px 1px rgba(0, 0, 0, .1));
  }

  .hidden-text{
    font-size: 12px;
    margin-right: 5em;
  }

  .box-img{
    width:30%;
    left:2.5em;
    top:-2.5em;
  }

  .arrow-btn{
    margin-right: 2em;
  }

  .text{
    margin-left: 1.5em;
  }







}
